<div class="container">
  <h1 class="mypage_heading">Favorites</h1>
  <div class="row">
    <% @musician_lists.each do |musician_list| %>
      <%= musician_list.end_user.username %>
      <%= musician_list.musician_profile.instrument %>
      <%= musician_list.musician_profile.area_i18n %>
    <% end %>
  </div>
</div>