<div class="container">
  <h1 class="mypage_heading">Favorites</h1>
  <div class="row">
    <% @shop_lists.each do |shop_list| %>
      <%= attachment_image_tag shop_list.shop_profile, :image, :fill, 100, 100 %>
      <%= shop_list.end_user.username %>
      <%= shop_list.shop_profile.shop_name %>
      <%= shop_list.shop_profile.area_i18n %>
    <% end %>
  </div>
</div>