<div class="container">
  <div class="row">
    <div class="col1">
      <table class="table">
        <tr>
          <th>氏名</th>
          <td><%= @end_user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @end_user.email %></td>
        </tr>
        <tr>
          <th>会員タイプ</th>
          <td><%= @end_user.end_user_status %></td>
        </tr>
        <tr>
          <th>プロフィールを表示</th>
          <td><%= リンク %></td>
        </tr>
      </table>
    </div>

    <div class="col2">
      <h4 class="mypage_heading">あなたへのおすすめ</h4>
    </div>
  </div>
</div>