<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.end_user.username %>
    </div>
    <%= l message.created_at %>
  </div><br>
  <div class="lower-message">
    <%= message.content %><br>
    <div class="message-image">
    <%= attachment_image_tag message, :image, :fill, 150, 150, class: 'message-image' %>
    </div>
  </div>
</div>

