// Place all the styles related to the public/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-heading{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  color: #777777;
}

.inquiry1.btn{
  margin-left: 20px;
  margin-right: 20px;
}

.inquiry-link{
  margin: 50px auto;
}

.thanks-message{
  margin: 200px auto;
}