// Place all the styles related to the public/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.end-user-heading{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
  color: #777777;
}

.rank-box{
  border: 1px solid #000000;
  box-shadow: 2px 2px 4px gray;
  margin: 25px auto;
  padding: 30px 20px;
  background-color: #ffffff;
  width: 60%;
}

.rank-image{
  margin-right: 20px;
}

.rank-name{
  font-size: 20px;
}

.mypage-heading{
  text-align: center;
}