// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual{
  display: flex;
  background: image-url('public-top');
  width: 100%;
  min-height: 800px;
  background-size: cover;
  background-position: center;
}

.top-main-heading{
 margin-top: 20%;
 margin-left: 15%;
 color: #777777;
 font-family: cursive
}

.about-image-area{
  background-image: image-url('about');
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
  margin-top: 70px;
}

h1.about-heading{
  text-align: center;
  margin-top: 280px;
  color: #777777;
  font-family: cursive;
  font-size: 70px;
}

.about-text{
  margin-top: 100px;
}

.about-content{
  text-align: center;
}

.about-image-box{
  background-image: image-url('about2');
  width: 200px;
  height: 400px;
  margin-top: 100px;
  background-size: cover;
  background-position: center;
}

.text-heading{
  color: orange;
}

.about-image-box2{
  background-image: image-url('about3');
  width: 200px;
  height: 400px;
  margin-top: 100px;
  background-size: cover;
  background-position: center;
}