// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_visual{
  display: flex;
}

.image_area{
  background-image: image-url('public_top');
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center;
}

.top_main_heading{
 margin-top: 20%;
 margin-left: 15%;
 color: #777777;
}

.about_image_area{
  background-image: image-url('about');
  width: 450px;
  height: 450px;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  margin-left: 50px;
}

.about_container{
  display: flex;
}

.about_content{
  margin: 100px auto;
}

h1.about_heading{
  margin-bottom: 100px;
  text-align: center;
  font-size: 2.8rem;
  font-style: italic;
  border-bottom: 6px double #000;
}

h1.about_heading:first-letter {
  font-size: 150%;
  color: #eb6100;
}

.about_text{
  text-align: center;
}

.btn-orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  text-decoration: none;
  font-size: 20px;
  padding: 2px 10px;
  margin-left: 50px;
}

.btn-orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}

.top_link{
  padding-top: 45px;
  display: flex;
  justify-content: center;
}