// Place all the styles related to the public/musician_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.musician_profiles_heading{
  text-align: center;
  margin-top: 50px;
  font-style: italic;
  border-bottom: 6px double #000;
}

.musician_profiles_heading:first-letter {
  font-size: 150%;
  color: #eb6100;
}

.musician_profile_container{
  margin-left: 27%;
}

.musician_form{
  display: flex;
}

.musician_form_username{
  margin-left: 5%;
}

.musician_form_area{
  margin-left: 14%;
}

.musician_form_instrument{
  margin-left: 20.5%;
}

.musician_form_total_member, .musician_form_introduction{
  margin-left: 14%;
}

.musician_is_vocal_button, .musician_form_video{
  margin-left: 15%;
}

.musician_form_price{
  margin-left: 3%;
}

.musician_form_confirmation_button{
  margin-left: 22%;
}

.musician_form_genre{
  margin-left: 8%;
}

select{
  text-align: center;
  font-size: 20px;
  border: 1px solid #CCC;
  border-radius: 1rem;
  margin-bottom: 20px;
  padding: 1%;
}

.musician_form_image{
  margin-bottom: 20px;
  margin-left: 3%;
}