// Place all the styles related to the public/musician_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #D2B48C;
}

.musician-profile-heading{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  color: #777777;
}

.card{
  margin: 20px 20px;
}

.profile-name{
  font-size: 25px;
  margin-left: 50px;
  padding-top: 100px;
}

.image-area{
  width: 100px;
  height: 100px;
  margin: 10px 5px;
}

.profile-box{
  border: 1px solid #000000;
  box-shadow: 2px 2px 4px gray;
  margin: 10px 10px;
  padding: 20px 20px;
  background-color: #ffffff;
}
