// Place all the styles related to the public/musician_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.musician-profile-heading{
  text-align: center;
  margin-top: 50px;
  font-style: italic;
  border-bottom: 6px double #000;
  margin-bottom: 50px;
}

.musician-profile-heading:first-letter {
  font-size: 150%;
  color: #eb6100;
}

.profile-box{
  padding: 30px 30px;
  margin: 20px 20px;
  font-weight: bold;
  color: #000000;
  background: #fff;
  border: solid 1px #eb6100;
  border-radius: 10px;
}
