// Place all the styles related to the public/shop_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shop-profile-heading{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #777777;
}

.card {
  position: static !important;
}

.shop-image-file{
  margin-left: 300px;
}

.profile-label{
  color: #777777;
}

.favorite{
  margin-right: 10px;
}