// Place all the styles related to the public/shop_reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-heading{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  color: #777777;
}

.card.review{
  width: 60%;
  margin-bottom: 20px;
}

.review-link{
  margin: 0 auto;
  margin-bottom: 150px;
}