// Place all the styles related to the public/shop_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shop-profile-heading{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #777777;
}

.shop-image-file{
  margin-left: 300px;
}

.profile-label{
  color: #777777;
}

.favorite{
  margin-right: 10px;
}

.review-count{
  margin-top: 20px;
}

.shop-icon{
  margin-bottom: 20px;
}

.profile-box{
  text-align: center;
}

.profile-sentence{
  overflow-wrap: break-word;
}

.message.btn{
  width: 50%;
  margin: 240px auto;
}

input.review.btn-block[type="submit"],{
  width: 50%;
  margin-left: 60px;
}

.box-content{
  margin: 0 auto;
  letter-spacing: 10px;
}

.profile-box-list{
  border: 1px solid #000000;
  box-shadow: 2px 2px 4px gray;
  margin: 25px auto;
  padding: 30px 20px;
  background-color: #ffffff;
  width: 60%;
}

.list-name{
  font-size: 20px;
}

.box-image{
  margin: auto;
}

.profile.btn{
  width: 100px;
}

.pagination{
  justify-content: center;
}

