<h1 class="musician_profile_heading">ミュージシャン一覧</h1>

<% @musician_profile.each do |musician_profile| %>

<table class="musician_profile_table">
  <tr>
    <th>ユーザーネーム</th>
    <th>活動エリア</th>
    <th>楽器</th>
  </tr>
  <tr>
    <td><%= musician_profile.end_user.username %></td>
    <td><%= musician_profile.area %></td>
    <td><%= musician_profile.instrument %></td>
  </tr>
</table>

<% end %>