<div class="container"></div>
  <h1 class="shop-profile-heading">Profile</h1>
  <div class="row justify-content-center">
    <%= attachment_image_tag @shop_profile, :image, :fill, 150, 150, fallback:"no_image.jpg" %>
    <%= @shop_profile.end_user.username %>
  </div>
  <div class="row">
    <%= link_to "会員情報を見る", admin_end_user_path(@end_user.id), class:"btn btn-success" %>
    <%= link_to "レビューを見る", admin_shop_profile_shop_reviews_path(shop_profile_id: @shop_profile.id), class:"btn btn-success" %>
  </div>