<div class="rooms">

<% current_end_user.rooms.each do |room| %>

 <div class="room">

 <div class="room-name">

<% @another_end_user = (room.end_users.where.not(id: current_end_user.id).to_a)[0] %>

<%= link_to @another_end_user.name, room_messages_path(room) %>

 </div>

 <div class="delete-room">

<%= link_to "×", room_path(room), method: :delete %>

 </div>

 </div>

<% end %>

</div>
