<div class="container">
  <h1 class="message-heading">Messages</h1>
    <% current_end_user.rooms.each do |room| %>
    <div class="message-box">
      <div class="room-name d-flex">
        <% @another_end_user = (room.end_users.where.not(id: current_end_user.id))[0] %>
        <i class="fas fa-user"><%= link_to @another_end_user.username, room_messages_path(room) %></i>
        <% if @another_end_user.messages.where(is_read: false).present? %>
        <p>test</p>
          <%= @another_end_user.messages.count %>
        <% end %>
        <div class="delete-room">
          <%= link_to "削除", room_path(room), method: :delete %>
        </div>
      </div>
    </div>
    <% end %>
</div>

