<div class="container-fluid">
  <div class="row">
    <div class="about-image-area">
      <h1 class="about-heading">About</h1>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-6">
      <%= image_tag 'about2', class:"about-image" %>
    </div>
    <div class="about-content col-6">
      <p class="about-text">
      <h6 class="text-heading">What is Sound Lodge?</h6><br><br>
        Sound Lodgeはミュージシャンとお店を繋ぐ検索サイトです。<br><br>
        自分の音楽を届けたいミュージシャンは演奏できるお店を<br><br>
        いつもの空間に生の音楽を取り入れたいお店は、雰囲気に合ったミュージシャンを。<br><br>
        色々な検索条件を組み合わせて、ぴったりな相手を見つけましょう。<br><br>
        気になる相手が見つかったらお気に入りに登録。<br><br>
        メッセージを送ることで、質問や依頼もできます。<br>
      </p>
    </div>
  </div>
  <div class="row d-flex">
    <div class="about-content col-6">
      <p class="about-text">
        <h6 class="text-heading">Connecting Through Music</h6><br><br>
        コロナ禍によってミュージシャンはライブハウスなどで演奏する機会が減り<br><br>
        レストランやデパートなどのお店も様々な規制が強化され、活気を失ってしまいました。<br><br>
        「席数を減らしてできたちょっとしたスペースを有効活用したい」<br><br>
        「生の演奏でいつもとは違う雰囲気を演出したい」<br><br>
        「プロを目指すために、たくさんの人に自分の音楽を聴いてもらいたい」<br><br>
      　そういった声を元にSound Lodgeは作られました。
      </p>
    </div>
    <div class="col-6">
      <%= image_tag 'about3', class:"about-image2" %>
    </div>
  </div>
</div>