<div class="about_container">
  <div class="about_image_area"></div>
  <div class="about_content">
      <h1 class="about_heading">About</h1>
      <p class="about_text">Sound Lodgeはミュージシャンとお店を繋ぐ検索サイトです。<br>
      自分の音楽を届けたいミュージシャンは演奏できるお店を、<br>
      いつもの空間に生の音楽を取り入れたいお店は雰囲気に合ったミュージシャンを。<br>
      色々な検索条件を組み合わせて、ぴったりな相手を見つけましょう！<br>
      <br>
      気になる相手が見つかったらお気に入りに登録。<br>
      メッセージを送ることで、質問や依頼もできます。<br>
      素敵なお店で素敵な演奏の後は、ぜひ相手のプロフィールにレビューを残してください。
      </p>
  </div>
</div>
