<div class="main_visual">
    <div class="image_area">
    <h1 class="top_main_heading">Connecting through Music</h1>
    </div>
</div>

<div class="top_link">
    <%= link_to '演奏できるお店を探す', shop_profiles_path, class:"btn-orange" %>　<%= link_to 'ミュージシャンを探す', musician_profiles_path, class:"btn-orange" %>
</div>