<div class="container">
  <h1 class="admin-heading">Admin Menu</h1>
  <div class="row">
    <div class="link-menu">
      <%= link_to "会員ミュージシャン一覧", admin_musician_profiles_path, class:"btn btn-warning btn-lg" %>
      <%= link_to "会員店舗一覧", admin_shop_profiles_path, class:"btn btn-warning btn-lg" %>
      <%= link_to "お問い合わせ一覧", 
    </div>
  </div>
</div>