<% @reviews.each do |review| %>
<div id="average-review-rating-<%= review.id %>" data-score=<%= review.rate %>>
</div>
<%# data-scoreに先ほど設定した@average_reviewのインスタンス変数を当てる。 %>

<script>
  $('#average-review-rating-<%= review.id %>').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
<% end %>