/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.registration-heading{
  text-align: center;
  margin-top: 50px;
  font-style: italic;
  border-bottom: 6px double #000;
}

.registration-heading:first-letter {
  font-size: 150%;
  color: #eb6100;
}

.session-heading{
  text-align: center;
  margin-top: 50px;
  font-style: italic;
  border-bottom: 6px double #000;
}

.session-heading:first-letter {
  font-size: 150%;
  color: #eb6100;
}

.admins-session_heading{
  text-align: center;
  margin-top: 50px;
  font-style: italic;
  border-bottom: 6px double #000;
}

.admins-session-heading:first-letter{
  font-size: 150%;
  color: #eb6100;
}

header{
  width: 100%;
  padding-top: 5px;
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

.nav_content{
  list-style: none;
  margin: 0;
  display: flex;
}

.nav_list{
  margin-left: 50px;
  font-size: 14px;
}

.nav_link{
  text-decoration: none;
  color: #000000;
}

.to-registration{
  text-align: center;
  margin-top: 60px;
}

.to-session{
  text-align: center;
  maigin-top: 30px;
}

.navbar-brand{
  width: 330px;
  height: 30px;
  margin-bottom: 50px;
}