<h1 class="musician_profiles_heading">Profile</h1>

<div class="profile_container">
  <div class="profile_content">
    <%= attachment_image_tag @musician_profile.end_user, :image, fallback:"no_image.jpg" %>
  </div>
</div>